version: "3.9"

services:
  email_service:
    build: .
    container_name: email_service
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
      - redis
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
